@import '../Vars.scss';
#search.validate:focus
{
    border-bottom: 1px solid $letter_color;
    box-shadow: 0 1px 0 0 $letter_color;
    color: black;
    font-weight: bold;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label
{
    color: black;
    font-weight: bold;
}
.input-field .prefix.active
{
    color: $letter_color;
}

