@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
$letter-font:  'Indie Flower';
$letter_color: #ffb500;
$cursor_cer: url('/src/assets/static/cerveza_g_mov.png'),auto;